{
    margin: 0;
    padding: 0;
    box-size: border-box;
}
ul,ol{
list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,ul,p,span,ol{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
    font-family: "arial";
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter{
    max-width: 250px;
}
.counter *{
    width: 33.33%;
    height: 50px;
    text-align: center;
    font-size: 25px;
}